<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_FOLDER" value="./logs"/> <!--Tạo thư mục logs và ghi log ra file log.log-->

    <!--  1 Ghi ra console -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- Định dạng  -->
            <Pattern>
                %green(%d{yyyy-MM-dd HH:mm:ss a}) %highlight(%-5level) %yellow(%C{0}(said) %msg%n%throwable
                <!-- 2021-11-03 14:18:33 PM INFO  AbstractEntityManagerFactoryBean(sad Initialized JPA EntityManagerFactory for persistence unit 'default' -->
                <!-- ngày tháng năm, mức độ (5 mức độ), tên class, nội dung message  -->
            </Pattern>
        </layout>
    </appender>
    <!-- 2 Ghi ra file log.log -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender"> <!--Cắt file log-->
        <!--Tên file-->
        <file>${LOGS_FOLDER}/log.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--Định dạng-->
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
                <!-- ngày tháng năm,  -->
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOGS_FOLDER}/archived/log_%d{dd-MM-yyyy}.log
            </fileNamePattern>
            <!-- số file back up tối đa -->
            <maxHistory>10</maxHistory>
            <!-- Dung lượng tối đa 1 file log-->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 3 Cấu hình logtash -->

    <appender name="logstash_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination> <!--localhost trên máy-->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service_name":"report-service"}</customFields>
            <fieldNames>
                <message>message</message>
            </fieldNames>
        </encoder>
        <keepAliveDuration>1 minutes</keepAliveDuration>
    </appender>


    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="logstash_TCP"/>
    </root>

</configuration>